@import "./mixins/mixins";

@import "./block/main-page";
@import "./block/catalog-page";
@import "./block/question-page";
@import "./block/logout";
@import "./block/info-page";
@import "./block/profile-page";
@import "./block/hamburger";
@import "./block/basket-page";
@import "./block/require-page";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
}
body{
    background: #F3f4f5;
}

@keyframes show_animate{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
a{
    text-decoration: none;
}

.container {
    width: 75%;
    display: block;
    margin: 0 auto;
}

input, button{
    outline: none;
    border: none;
}
button{
    cursor: pointer;
}





