.header{
    background: #FFF;
    min-height: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__logo{
            display: flex;
            align-items: center;
            column-gap: 10px;
            text-decoration: none;
            &_text{
                color: #AD00FF;
                font-size: 28px;
                font-weight: 700;
            }
        }
        &__nav{
            display: flex;
            column-gap: 80px;
            &_link{
                color: #000;
                font-size: 16px;
                font-weight: 600;
                text-decoration: none;
                border: 1px solid #ae00ff00;
                padding: 8px 15px;
                border-radius: 15px;
                &:hover{
                    border: 1px solid #AD00FF;
                    color: #AD00FF;
                }
            }
        }
        &__phone{
            display: flex;
            align-items: center;
            column-gap: 10px;
            &_tell{
                font-size: 20px;
                color: #AD00FF;
                font-weight: 700;
            }
        }
    }
}
.main{
    padding: 50px 0;
    height: auto;
    &__wrapper{
        display: flex;
        align-items: center;
        &__attribute{
            &_title{
                color: #000;
                font-size: 56px;
                font-weight: 600;
                width: 690px;
                span{
                    color: #AD00FF;
                }
            }
            &_list{
                padding-left: 27px;
                margin-top: 40px;
                &-item{
                    color: #373737;
                    font-size: 18px;
                    margin-top: 10px;
                    font-weight: 600;
                }
            }
            &_buttons{
                display: flex;
                column-gap: 15px;
                margin-top: 50px;
                .btn{
                    padding: 15px 30px;
                    color: #fff;
                    font-weight: 700;
                    font-size: 16px;
                    border-radius: 10px;
                }
                &-query{
                    background-color: #AD00FF;
                }
                &-consultation{
                    background-color: #404040;
                }
            }
        }
    }
}

.block{
    padding: 20px 0;
    height: auto;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        &__item{
            width: 320px;
            height: 100px;
            border-radius: 15px;
            background: #FFF;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
            display: flex;
            column-gap: 20px;
            align-items: center;
            justify-content: center;
            &_text{
                width: 240px;
            }
        }
    }
}

.slider{
    padding: 50px 0;
    height: auto;
    &__title{
        text-align: center;
        font-weight: 600;
        color: #5F5F5F;
        font-size: 32px;
    }
    &__wrapper{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        padding: 0 70px;
        position: relative;
        &__previos{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          
            svg{
                box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.40);
                border-radius: 100%;
            }
        }
        &__next{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            svg{
                box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.40);
                border-radius: 100%;
            }
          
        }
        &__item{
            border-radius: 20px;
            background: #FFF;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
            height: 480px;
            width: 380px;
            &_img{
                width: 100%;
            }
            &_text{
                padding: 20px 20px;
                &-title{
                    font-size: 22px;
                    font-weight: 600;
                }
                &-subtitle{
                    color: #5E5E5E;
                    font-size: 18px;
                    font-weight: 600;
                    margin-top: 10px;
                }
                &-prize{
                    color: #21AE15;
                    font-size: 18px;
                    margin-top: 20px;
                    font-weight: 600;
                }
            }
            &_btns{
                display: flex;
                justify-content: center;
                column-gap: 10px;
                &-query{
                    padding: 10px 0;
                    color: #fff;
                    font-weight: 700;
                    font-size: 16px;
                    border-radius: 10px;
                    background-color: #AD00FF;
                    width: 290px;
                }
                &-basket{
                    padding: 10px;
                    border: 1px solid #AD00FF;
                    border-radius: 10px;
                    background-color: #fff;
                }
            }
        }
    }
}

.stage{
    padding: 50px 0;
    height: auto;
    &__title{
        text-align: center;
        font-weight: 600;
        color: #5F5F5F;
        font-size: 32px; 
    }
    &__wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 30px;
        border-radius: 20px;
        background-color: #fff;
        margin-top: 40px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
        &__item{
            width: 270px;
            svg{
                width: 40px;
                height: 40px;
            }
            &_title{
                font-size: 18px;
                margin-top: 15px;
                span{
                    color: #AD00FF;
                }
            }
            &_descr{
                font-size: 16px;
                margin-top: 5px;
                font-weight: 500;
            }
        }
    }
}
.advent{
    padding: 50px 0;
    height: auto;
    &__title{
        text-align: center;
        font-weight: 600;
        color: #5F5F5F;
        font-size: 32px; 
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        width: 100%;
        &__item{
            width: 320px;
            height: 100px;
            border-radius: 15px;
            background: #FFF;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
            display: flex;
            column-gap: 20px;
            align-items: center;
            justify-content: center;
            padding: 0 15px;
        }
    }
    &__block{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        height: 130px;
        background: linear-gradient(90deg, #D170FF 0%, #AD00FF 100%);
        margin-top: 50px;
        border-radius: 20px;
        align-items: center;
        &__text{
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            &_title{
                font-size: 22px;
                color: #fff;
                font-weight: 600;
            }
            &_subtitle{
                font-weight: 500;
                font-size: 18px;
                color: #fff;
            }
        }
        &__btn{
            width: 400px;
            height: 55px;
            border-radius: 10px;
            border: 2px solid #FFF;
            background-color: #ffffff00;
            color: #fff;
            font-weight: 600;
            font-size: 18px;
        }
    }
}

.question{
    height: auto;
    padding: 50px 0;
    &__title{
        text-align: center;
        font-weight: 600;
        color: #5F5F5F;
        font-size: 32px; 
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        &__item{
            width: 430px;
            height: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
            &_img{
                width: 100%;
            }
            &_title{
                margin-top: 10px;
                font-size: 18px;
                font-weight: 600;
                padding-left: 10px;
            }
            &_descr{
                padding-left: 10px;
                margin-top: 5px;
                color: #000;
                font-size: 16px;
                font-weight: 500;
            }
            &_btn{
                width: 100%;
                height: 50px;
                flex-shrink: 0;
                border-radius: 10px;
                background: #AD00FF;
                color: #fff;
                font-weight: 600;
                font-size: 16px;
                margin-top: 20px;
            }
        }
    }
}

.consultation{
    padding: 50px 0;
    height: auto;
    &__block{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        height: 130px;
        background: linear-gradient(90deg, #D170FF 0%, #AD00FF 100%);
        margin-top: 50px;
        border-radius: 20px;
        align-items: center;
        &__text{
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            &_title{
                font-size: 22px;
                color: #fff;
                font-weight: 600;
            }
            &_subtitle{
                font-weight: 500;
                font-size: 18px;
                color: #fff;
            }
        }
        &__btn{
            width: 400px;
            height: 55px;
            border-radius: 10px;
            border: 2px solid #FFF;
            background-color: #ffffff00;
            color: #fff;
            font-weight: 600;
            font-size: 18px;
        }
    }
}

.preferences{
    height: auto;
    padding: 50px 0;
    &__wrapper{
        width: 100%;
        border-radius: 20px;
        height: 200px;
        padding: 20px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);

        &__title{
            font-weight: 700;
            color: #4E4B66;
            font-size: 24px;
        }
        &__subtitle{
            font-weight: 600;
            color: #333;
            font-size: 16px;
        }
        &__form{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 50px;
            &_input{
                position: relative;
                width: 23%;
                &-label{
                    position: absolute;
                    top: -23px;
                    left: 5px;
                    font-weight: 600;
                    color: #333;
                }
                &-input{
                    width: 100%;
                    height: 40px;
                    border: 1px solid #9e9e9e;
                    border-radius: 10px;   
                    padding: 0 10px;
                    font-size: 16px;                 
                }
            }
            &_btn{
                width: 25%;
                height: 40px;
                border-radius: 10px;
                background-color: #AD00FF;
                color: #FFF;
                font-weight: 700;
                font-size: 16px;
                cursor: pointer;
            }
        }
    }
}

.footer{
    background: rgba(173, 0, 255, 0.10);
    height: auto;
    padding: 50px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__attribute{
            &_logo{
                display: flex;
                align-items: center;
                column-gap: 10px;
                text-decoration: none;
                &-text{
                    color: #AD00FF;
                    font-size: 28px;
                    font-weight: 700;
                }
            }
            p{
                margin-top: 20px;
            }
            h4{
                text-align: right;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
}